body{
  margin:0; padding:0;
  background: #F9F9F9;
  font:16px/1.5 "PT Sans",Helvetica, Arial, sans-serif;
}


header{
  padding:0.75em;
  text-align: center;
}
  header h1{
    margin: 0;
    padding: 0;
    text-transform: uppercase;
  }
  header span{
    color: #898989;
  }

section.content{
  padding:2%;
  width:96%;
}

h1#chartTitle{
  text-align: center;
}
#myChart{
  display: block;
  margin:0 auto;
  max-width: 600px;
  height: 400px;
}
